header{
    background-color: rgb(6, 78, 36);
    color: white;
    display: flex;
    justify-content: center;
    padding: 60px;
    font-family: Arial, Helvetica, sans-serif;
    width: 1980px;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}
.texto{
    margin: 15px;

}
h1 {
    color: white;
}
.card-grid {
    margin-top: 50px;
    margin-left: 150px;
    display: grid;/*posiciona os cards lado a lado*/
    grid-template-columns: auto;/* colunas automáticas*/
    grid-template-areas: "a a a a";/*divide o grid em 4 colunas*/
    gap: 20px;/* espaço (vão) entre as colunas do grid*/
    width: 1600px;/*largura total do grid*/
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    box-shadow: 0 4px 8px black;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 15px;
    text-align: center;
}

.card-content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1em;
    color: #666;
}

.card-content .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;/*velocidade de transição da cor do botão*/
}

.card-content .btn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);/*movimenta o botão em -2px no eixo y*/
}

.card:hover {
    transform: translateY(-5px);/*movimenta o cartão em -5px no eixo y*/
}
h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0)
}



button{
    border-radius: 8px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom:15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    height: 120px;
}
button{
    background-color: rgb(255, 255, 255);
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
button:hover{
background-color: rgb(117, 117, 117);
}
  .caixa{
height: 400px;
width: 400px;

  }
  footer{
    padding: 2px;
    width: 100%;
    justify-content: flex-end;
  }